$unit-vertical: 17px;
$unit-horizontal: 10.2px;

$row: $unit-vertical * 10;
$column: $unit-horizontal * 9;

$width-sidebar-s: $column * 3;
$width-sidebar-m: $column * 8;

// Colors
$color-primary: #ff0000;
$color-background: #f0f0f0;

// Typography
$fontsize-s: 12.3px;
$fontsize-m: 17px;
$fontsize-l: 51px;

$lineheight-s: 17px;
$lineheight-m: 17px;
$lineheight-l: 51px;

// Icons
$icon-pause-2: url(../images/pause-2.svg);
$icon-pause-4: url(../images/pause-4.svg);
$icon-pause-6: url(../images/pause-6.svg);
$icon-downloads: url(../images/icon-downloads.svg);
$icon-images: url(../images/icon-images.svg);
$icon-videos: url(../images/icon-videos.svg);
$icon-links: url(../images/icon-links.svg);
$icon-map: url(../images/icon-map.svg);
$symbol-alternate: url(../images/andamento-alternate.svg);
$symbol-constant: url(../images/andamento-constant.svg);
$symbol-crescendo: url(../images/andamento-crescendo.svg);
$symbol-diminuendo: url(../images/andamento-diminuendo.svg);
$symbol-legato: url(../images/andamento-legato.svg);
$symbol-vibrato-1: url(../images/andamento-vibrato-1.svg);
$symbol-vibrato-2: url(../images/andamento-vibrato-2.svg);
$symbol-vibrato-3: url(../images/andamento-vibrato-3.svg);
$symbol-slide-1: url(../images/andamento-slide-1.svg);
$symbol-slide-2: url(../images/andamento-slide-2.svg);
$symbol-slide-3: url(../images/andamento-slide-3.svg);