$height-unit: 17px;
$height-row: $height-unit * 10;

$width-unit: 10.2px;
$width-column: $width-unit * 9;
$width-sidebar-s: $width-column * 3;
$width-sidebar-m: $width-column * 8;

// Colors
$color-background: #c6c6c2;
$color-dark: #111111;
$color-light: #ffffff;
$color-highlight: #fd582b;

// Typography
$fontsize-s: 12.3px;
$fontsize-m: 17px;
$fontsize-l: 51px;

$lineheight-s: 17px;
$lineheight-m: 17px;
$lineheight-l: 51px;