@import url("https://use.typekit.net/hxo6pfp.css");

html {
  font-family: "prestige-elite-std", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: $fontsize-s;
  line-height: $lineheight-s;
  color: $color-dark;
  background-color: $color-background;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, li {
  font-size: $fontsize-m;
  line-height: $lineheight-m;
}

main {
  margin-left: $width-column * 3;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: crosshair;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  height: 0px;
}

::selection {
  background-color: $color-highlight;
  color: $color-light;
}

@for $i from 0 through 9 {
  .duration-#{$i} {
    width: $width-column * $i;
  }
  
  .position-#{$i} {
    top: $height-unit * (9 - $i);
  }

  .blink-#{$i},
  .blink-hover-#{$i}:hover {
    animation: blink #{$i * 0.25}s steps(1) infinite;
  }
}

@keyframes blink {
  0% {
    // background-color: $color-dark;
    color: $color-highlight;
  }
  10% {
    background-color: transparent;
    color: $color-light;
  }
}
