@import url("https://use.typekit.net/hxo6pfp.css");

html {
  font-family: "prestige-elite-std", monospace;
  font-style: normal;
  font-size: $fontsize-s;
  line-height: $lineheight-s;
  color: $color-dark;
  background-color: $color-background;
}

body {
  overflow-x: hidden;
  min-height: 100vh;

  @media (max-width: $breakpoint-mobile) {
    /* Vertical lines */
    background-image: linear-gradient(to right, $color-dark-muted 1px, transparent 1px);
    background-size: calc((100vw - $width-unit * 2) / 5) $height-unit * 2;
    background-position: $width-unit;
    background-repeat: repeat;
  }
}

h1, h2, h3, h4, h5, h6, li {
  font-size: $fontsize-m;
  line-height: $lineheight-m;
  font-weight: 400;
}

main {
  width: 100%;
  
  @media (max-width: $breakpoint-mobile) {
    height: 100%;
    margin-top: $height-unit * 3;
    margin-bottom: $height-unit * 3;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: crosshair;
}

.button {
  display: block;
  font-family: "prestige-elite-std", monospace;
  font-size: $fontsize-m;
  background-color: transparent;
  padding: $height-unit $width-unit * 4;
  border: 1px solid $color-dark;
  border-radius: 0;
  cursor: crosshair;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.kirbytext {
  max-width: $width-column * 8;

  p, ul, img {
    padding-bottom: $height-unit !important;
  }

  li {
    font-weight: 300;
    font-size: $fontsize-m;
    line-height: 22.5px;

    text-indent: -20px;
    margin-left: $width-unit * 2;
    padding-right: 1em;

    &:before {
      content: '▄';
      font-family: 'prestige-elite-std', monospace;
      padding-right: $width-unit;
    }
  }

  img {
    width: 100%;
  }

  a {
    text-decoration: underline;

  }

  a:hover {
    text-decoration: none;
  }
}

@for $i from 0 through 9 {
  .duration-#{$i} {
    width: $width-column * $i;

    @media (max-width: $breakpoint-mobile) {
      width: auto;
    }
  }
  
  .position-#{$i} {
    top: $height-unit * (9 - $i);

    @media (max-width: $breakpoint-mobile) {
      top: auto;
    }
  }

  .blink-#{$i},
  .blink-hover-#{$i}:hover {
    animation: blink #{$i * 0.25}s steps(1) infinite;
  }
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
  height: 0px;
}

::selection {
  background-color: $color-highlight;
  color: $color-light;
}

@keyframes blink {
  0% {
    color: $color-light;
  }
  10% {
    background-color: transparent;
    color: $color-highlight;
  }
}